 body {
           background-color: rgb(35, 35, 39);
        }
        button {
            background-color: aliceblue;
            color: rgb(0, 0, 0);
        }
        p {
            color: aliceblue;
        }